<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>类别显示页面</title>
    <script src="__STATIC__admin/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="__STATIC__layui/css/layui.css">
    <script src="__STATIC__layui/layui.js"></script>
    <style>
        .current-color{
            background-color:#009688;
        }
        #layui-table-page1 {
            text-align: center;
        }

        #sum {
            margin: 0 15px;
            color: red;
            font-size: 20px;
            font-weight: bold;
        }

        .layui-table-cell {
            height: 55px;
            line-height: 55px;
        }

        .cate-name {
            font-weight: 600;
            font-size: 16px;
            color: green;
        }

        .cate-id {
            font-size: 15px;
            font-weight: 600;
        }
        .layui-table-cell span{
            font-size: 15px;
            font-weight: 600;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="static/admin/Font_Icon/沐歌logo2.png" width="70" height="70"
        >后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="{$Think.session.admin['adminPic']}" class="layui-nav-img" alt="{$Think.session.admin['adminName']}">
                    {$Think.session.admin['adminName']}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="personaldata">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="#" onclick="loginOut()">注销</a></li>
            <script>
                function loginOut() {
                    layer.confirm('你确定要注销吗？', {
                        btn: ['确定', '算了'] //按钮
                    }, function () {
                        layer.msg('注销成功', {icon: 1});
                        setTimeout(function () {
                            location.href ="loginout";
                        },1000)
                    });
                }
            </script>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">博客信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/blog/blogList')}">博客列表</a></dd>
                        <dd><a href="{:url('admin/blog/blogAdd')}">添加博客</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">博客栏目管理</a>
                    <dl class="layui-nav-child">
                        <dd class="current-color"><a href="{:url('admin/category/categoryList')}">栏目列表</a></dd>
                        <dd><a href="{:url('admin/category/categoryAdd')}">添加栏目</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/user/userList')}">用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">留言管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/Comment/commentList')}">评论列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">友情链接管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/link/linkList')}">友情链接列表</a></dd>
                        <dd><a href="{:url('admin/link/linkAdd')}">添加友情链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据恢复中心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/DataRecoveryCenter/recoveryBlogList')}">博文回收站</a></dd>
                        <dd><a href="{:url('admin/DataRecoveryCenter/recoveryBlogTypeList')}">栏目回收站</a></dd>
                        <dd><a href="{:url('admin/DataRecoveryCenter/recoveryUserList')}">用户回收站</a></dd>
                        <dd><a href="{:url('admin/DataRecoveryCenter/recoveryLinkList')}">友情链接回收站</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">待定</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--用户显示列表-->
        <!--        搜索栏starting-->
        <div class="demoTable">
            栏目搜索：
            <div class="layui-inline">
                <input type="text" id="typename" name="typename" lay-verify="required" placeholder="请输入..."
                       autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-normal" onclick="return false;" data-type="reload"
                    id="selectbyCondition">搜索
            </button>
            <span>共有</span><span id="sum"></span><span>条记录</span>

        </div>
        <!--        搜索栏ending-->
        <div id="category"></div>
        <script type="text/html" id="operate">
            <button class="layui-btn layui-btn-xs" lay-event="edit" onclick="confirmEdit('{{d.tid}}')">编辑</button>
            <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="confirmDel('{{d.tid}}')">删除</button>
        </script>
        <script type="text/html" id="type">
        </script>
        <script>
            function confirmEdit(tid) {
                layer.confirm('你确定要修改吗？', {
                    btn: ['修改', '取消'] //按钮
                }, function () {
                    location.href = "categoryedit" + "?tid=" + tid;
                });
            }
            function confirmDel(tid) {
                layer.confirm('你确定要删除吗？', {
                    btn: ['删除', '不删除'] //按钮
                }, function () {
                    console.log(tid);
                    $.ajax({
                        type: 'get',
                        url: "{:url('admin/category/delCate')}",
                        data: {tid},
                        dataType: 'json',
                        success: function (e) {
                            if (e.code == 1) {
                                layer.msg(e.msg, {icon: 1});
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                layer.msg(e.msg, function () {
//关闭后的操作
                                    setTimeout(function () {
                                        location.reload();
                                    }, 800)
                                });
                            }
                        }
                    });
                });
            }
        </script>

        <script>
            layui.use('table', function () {
                var table = layui.table;
                table.render({
                    elem: '#category'
                    , height: 750
                    , page: false //开启分页
                    , url: "{:url('admin/category/categoryPaging')}"
                    , cols: [[ //表头
                        {
                            field: 'tid', title: 'ID', width: 400, sort: true, templet: function (d) {
                                return '<span class="cate-id">' + d.tid + '</span>';
                            }
                        }
                        , {
                            field: 'typename', width: 600, title: '栏目名称', templet: function (d) {
                                if (typeof d.html!=="undefined"){
                                    return '<span class="cate-name">' + d.html+d.typename + '</span>';
                                }else {
                                    return '<span class="cate-name">' +d.typename + '</span>';

                                }
                            }
                        }
                        , {fixed: 'right', title: '操作', toolbar: '#operate', width: 400}

                    ]],
                    id: 'categoryTableReload',
                    done: function (res) {
                        console.log(res.data)
                        $(function () {
                            $('#sum').text(res.count);
                        })
                    }
                });
                //表格的重载starting
                //根据条件查询表格数据重新加载
                var $ = layui.$, active = {
                    reload: function () {
                        //获取用户名
                        var demoReload = $('#typename');
                        //执行重载
                        table.reload('categoryTableReload', {
                            where: {
                                typename: demoReload.val()
                            }
                        });
                    }
                };
                //点击搜索按钮根据用户名称查询
                $('#selectbyCondition').on('click',
                    function () {
                    if ($('#typename').val().trim()==''){
                        layer.msg('输入内容不能为空！！！', function(){
//关闭后的操作
                        });
                        return false
                    }
                        var type = $(this).data('type');
                        active[type] ? active[type].call(this) : '';
                    }
                    );
                //    表格的重载ending
            });

        </script>
        <!--        事件处理-->
        <!--  主体 ending     -->
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©沐丶歌丨
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</body>
</html>
