<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__index/css/login.css">
    <link rel="stylesheet" href="__STATIC__layui/css/layui.css">
    <script src="__STATIC__index/js/jquery-1.12.4.js"></script>
    <script src="__STATIC__layui/layui.js"></script>
    <meta name="description" content="沐歌(Taobao.com)是一个自主开发的个人博客平台，喜欢的可以！">
    <meta name="keywords" content="登录,登陆,沐歌,沐兮,博客登录,个人博客,个人博客登录">
    <title>登录页面</title>
</head>
<body>
<div class="bg">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="__INDEX_IMG_LOGIN_LB__1.jpg"></div>
            <div class="swiper-slide"><img src="__INDEX_IMG_LOGIN_LB__2.jpg"></div>
            <div class="swiper-slide"><img src="__INDEX_IMG_LOGIN_LB__3.jpg"></div>
            <div class="swiper-slide"><img src="__INDEX_IMG_LOGIN_LB__4.jpg"></div>
            <div class="swiper-slide"><img src="__INDEX_IMG_LOGIN_LB__5.jpg"></div>
        </div>
    </div>
</div>
<div class="login">
    <div class="content">
        {if(session('?error'))}
        <span class="login-error"> {:session('error')}</span>
        {/if}
        <p class="login-title">想要了解更多嘛？请登录吧~</p>
        <div class="account">
            <img src="__INDEX_IMG_COMMON__账号.png" alt="帐号">
            <input type="text" maxlength="12" name="account" required placeholder="帐号...">
        </div>
        <div class="password">
            <img src="__INDEX_IMG_COMMON__密码.png" alt="密码">
            <input type="password" maxlength="12" name="password" required placeholder="密码...">
        </div>
        <div class="captcha-list">
            <div class="meta"><img src="__INDEX_IMG_COMMON__验证码.png"></div>
            <div class="captcha"><input type="text" maxlength="4" name="captcha" required placeholder="验证码..."></div>
            <div class="code-img"><span><img src="captcha" id="captcha" alt="验证码"></span></div>
        </div>
        <div class="submit">
            <button>登录</button>
        </div>
        <div class="register">
            <div class="res-list">
                <span>还没有账号？赶紧</span><a href="register">注册</a><span>一个吧~</span>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="static/index/css/swiper.min.css">
<script src="static/index/js/swiper.min.js"></script>
<script src="__STATIC__index/js/login.js"></script>

</body>
</html>